.rodape
{
    text-align: center;
    font: 0.7rem;/*pegando uma porcentagem do tamanho de letra, do html*/
}

.rodape__logo
{
    width: 11.25em;
}

.rodape__lista-midia-sociais
{
    display: flex;
    justify-content: center;
}

.rodape__item-midias-sociais
{
    width: 2.62em;
}

.rodape__item-midias-sociais img
{
    width: 100%;
}

.rodape__titulo
{
    font-size: 1.45em;
    font width: border;
    text-transform: oppercase;
}
.rodape_item-lista
{
    font-weight: 500;
}